/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background-size: 100vw, 100vh;
  background-image: url(https://images.unsplash.com/photo-1636821771168-d13e578a88ba?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2l0eSUyMHBob3RvZ3JhcGh5fGVufDB8MHwwfHx8Mg%3D%3);
  content: auto;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.todo-form-template {
  display: flex;
  margin-top: 3;
}

.form-bg {
  background-color: rgba(41, 40, 40, 0.498);
  max-width: 50%;
  max-height: 50%;

}

.quotes {
  color: lightgray;
}