/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  background-position: center;

}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}


#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.todo-form-template {
  display: flex;
  margin-top: 3;
}

.form-bg {
  background-color: rgba(41, 40, 40, 0.498);
  max-width: 100%;
  max-height: 100%;

}

.quotes {
  color: lightgray;
  flex-direction: row;
}

h1 {
  margin-left: 2em;
}